@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

/* Add this theme block */
@theme {
  --color-uf-blue: #00adef;
  --color-uf-dark: #0088bc;
  --color-uf-gold: #f39200;
}